{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "chrome >= 59"
          ]
        }
      }
    ]
  ],
  "plugins": ["transform-runtime"]
}